* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

#container {
	height: 100%;
	position: relative;
}


#header {
	height: 5%;
	background-color: lightblue;
}

#main {
	height: 85%;
	background-color: lightyellow;
}

.footer {
	height: 5%;
	background-color: lightgray;
	border-top: 1px solid black;
}