* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

#container {
	height: 100%;
	position: relative;
}


#header {
	height: 5%;
}

#header ul li{
	display: inline;
	float: right;
	margin-top: 15px;
	margin: 15px 15px 0 20px;
}

#header ul li a{
	text-decoration: none;
	color: gray;
}

#kruzics {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: #7D58C1;
	border-radius: 100%;
	color: white;
	text-align: center;
	line-height: 30px;
	vertical-align: middle;
	margin-top: -6px;
}

#main {
	height: 85%;
}



#main-content{
	width: 50%;
	position: relative;
	margin: 0 auto;
	top: 20%;
	text-align: center;
	font-size: 90%;
}


#main-content *{
	margin-top: 10px;
}

#main-content img{
	width: 45%;
	position: relative;
	bottom: 10px;
}

#main-content input{
	top: 50px;
	display: block;
	margin: auto;
	width: 85%;
	height: 40px;
	padding: 10px;
	border: 1px solid lightgray;
}

.button {
	display: inline-block;
	width: 20%;
	height: 40px;
	background-color: #F6F6F6;
	border: none;
	font-weight: bold;
	color: gray;
	position: relative;
	top: 10px;
	margin: 30px 5px 20px 0;
}

.footer {
	height: 5%;
	background-color: #F2F2F2;
	border-top: 1px solid lightgray;
	line-height: 50px;
	vertical-align: middle; 
}

.footer ul {
	display: inline;
}

.footer ul li{
	display: inline;
}

.footer a{
	text-decoration: none;
	margin-left: 20px;
	color: gray;
	font-size: 85%;
}

.footer a:last-child{
	margin-right: 25px;
}

#rList{
	float: right;
}